*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* background-color: beige; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content::-webkit-scrollbar{
    height: 5px;
    display: none;
}
.content::-webkit-scrollbar-track{
    background-color: lightgray;
}
/* .content::-webkit-scrollbar-track-piece{
    background-color: lightgray;
    width: 20px;
} */
.content::-webkit-scrollbar-thumb{
    background-color: green;
    height: 1px;
    border-radius: 5px;
}
.content::-webkit-scrollbar-corner{
    display: none;
}
.content::-webkit-resizer{
    display: none;
}
.content:hover::-webkit-scrollbar{
    display: block;
}

.content-box::-webkit-scrollbar{
    display: none;
}

.content-box{
    /* display: flex; */
    /* padding: 100px; */
    display: block;
    height: 60%;
    width: 60vw;
    border: 1px solid black;
    overflow-y: auto;
}

.content{
    /* width: 100%; */
    margin: 10px 7px;
    padding: 4px 4px 4px 10px;
    border: 1px solid green;
    border-radius: 8px;
    /* height: 155px; */
    min-height: fit-content;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size: 18px;
    overflow-x: auto;
    overflow-y: hidden;
}

.rowitems{
    white-space: nowrap;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: row;
    padding-bottom: 3px;
    justify-content: space-between;
    /* margin: 20px; */
    /* background-color: yellow; */
}

.eachitem{
    margin-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-right: 50px; */
}

.heading{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.btn-class{
    /* align-self: center; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* color: aqua; */
    border: none;
    font-size: 18px;
    /* background-color: #008CBA; */
    background-color: #009ace;
    border-radius: 4px;
    /* width: 40px; */
    padding: 5px 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: white;
}

.btn-class:hover{
    background-color: #00b1ec;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

.btn-class:active{
    background-color: #168eb6;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

.modal{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    /* height: 60%; */
    height: fit-content;
    /* width: 100%; */
    /* width: max-content; */
    /* background-color: brown; */
    min-width: 40%;
    max-width: fit-content;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 11px;
    /* background-color: rgba(66, 64, 64, 0.3); */
    padding: 11px;
    font-size: 18px;
    /* text-align: center; */
}

.hide-body{
    background-color: rgba(32, 32, 32, 0.5) !important;
    overflow: hidden !important;
}

.close-btn{
    position: relative;
    float: right;
}

.hide{
    display: none;
}

.modal > *:not(:first-child, :last-child){
    padding-top: 15px;
}

.modal input{
    /* float: right; */
    margin-right: 5%;
    border-radius: 6px;
    /* border: 1px solid black; */
}

.eachrow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* display: block; */
    white-space: nowrap;
    text-overflow: clip;
}
.errorMsg{
    /* float: right !important; */
    /* margin-right: 0%; */
    color: red;
    font-size: 11px;
    font-style: italic;
}

.bottom{
    font-size: 13px;
    color: gray;
    font-style: italic;
    position: absolute;
    bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}